*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    height: 100%;
    background-color: greenyellow;
}

/************HEADER**************/

.header {
    position: relative;
    max-width: 1440px;
    height: 180px;
    background-color: greenyellow;
}

.header_container {
    width: 1200PX;
    height: 120PX;
    position: absolute;
    top: 30px;
    left: 120px;
    display: flex;
}

.header_logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
}

.nav_header {
    position: absolute;
    top: 50px;
    right: 200px;
    width: 40px;
    height: 500px;
    text-align: center;
    list-style: none;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/*************BLOCK_1**************/

.block_1 {
    /*background-image: url(image/IMG_20230609_120117_659_converted.png);*/
    position: relative;
    width: 1440px;
    height: 800px;
}
